# Exclude all .exe files
*.exe
# Exclude test.cpp and any test.* formats
test.*
# Exclude new.cpp and any new.* formats
new.*
# Eexclude Logs dir and any log files
Logs/*.log
*.log
#Exclude .vscode directory
.vscode/
# Exclude sketches directory
sketches/
#Exclude .txt files(for now)
*.txt